section {
    display: block;
    text-align: center;
    form {
        padding: 40px;
    }
    input {
        border-radius: 5px;
        padding: 5px 20px;
        line-height: 16px;
        margin: 10px 0;
    }
}